/* Estilos globais para a barra de rolagem */
body {
  scrollbar-width: thin; /* Para navegadores Firefox */
  scrollbar-color: #4a90e2 #f5f5f5; /* Cor do polegar e fundo */
}

/* Para navegadores baseados em Webkit (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #4a90e2; /* Cor do polegar */
  border-radius: 10px;
  border: 3px solid #f5f5f5; /* Espaço ao redor do polegar */
}

body::-webkit-scrollbar-track {
  background: #f5f5f5; /* Cor do fundo */
  border-radius: 10px;
}
